/**
* Here are the styles written in TailwindCSS.
* I divided the code with intervals,
* and wrote comments about where the wrapper is,
* where the information is, where what components are.
* Don't get lost)
**/

/* Here the wrapper for header is the header of the header page. */

.sliderBlock {
  @apply relative pb-[250px] pt-[90px]  before:absolute before:left-0 before:right-0 before:h-[1000px] before:bg-[url('../../../assets/before_after/panels/color-purple/elements.svg')] before:bg-contain before:bg-no-repeat mobile:pb-[300px] mobile:pt-[200px] mobile:before:h-[350px] sl:pt-[10px] sl:before:h-[550px] lg:pt-[10px] lg:before:h-[650px] sm:pt-[70px] sm:before:h-[700px];
}

.wrapper {
  @apply mx-auto w-[1160px] mobile:w-[330px] tablet:w-[500px] sl:mt-[100px] sl:w-[400px] laptop:w-[400px] lg:mt-[50px] lg:w-[770px] sm:w-[1000px] desktop:w-[1170px];
}

.slider {
  @apply relative;
}

.slide {
  @apply flex items-center justify-between;
}

/* MainPage information about the site */

.slide__info {
  @apply relative  flex-shrink-0 after:absolute after:right-[-90px] after:top-[-40px] after:block after:h-[100px] after:w-[130px] after:bg-[url('../../../assets/before_after/panels/color-blue/elements.svg')] mobile:after:hidden;
}

.slide__info > h3 {
  @apply mb-3 font-ProximBold text-base uppercase leading-[1.3em] tracking-wider text-gray-400 mobile:text-[12px] laptop:text-[15px] lg:text-[15px];
}

.slide__info > h1 {
  @apply mb-7 font-ProximExtraBold text-[64px] leading-[1.15em] -tracking-tighter text-white mobile:text-[40px] laptop:text-[50px] lg:text-[45px] sm:text-[50px];
}

.slide__info > h2 {
  @apply mb-[40px] font-ProximSemiBold text-2xl leading-[1.3em] text-gray-400 mobile:text-[15px] laptop:text-[22px] lg:text-[20px] sm:text-[20px];
}

.button {
  @apply w-full rounded-lg bg-gradient-to-r from-blue-500 to-purple-500 p-4 font-ProximSemiBold text-3xl text-white mobile:p-[2px] mobile:text-[20px] laptop:p-[5px] laptop:text-[25px] lg:p-[5px] lg:text-[25px] sm:p-[7px];
}

.button:hover {
  transition: 0.3s;
  border-color: #9008fe;
  box-shadow: 0 0 14px #0c83ff;
}

.slide_img {
  @apply mr-[-275px] w-[760px] mobile:hidden tablet:hidden sl:hidden laptop:mr-[60px] laptop:w-[500px] lg:mr-[-200px] lg:w-[430px] sm:mr-[-130px] sm:w-[500px] desktop:mr-[-160px] desktop:w-[650px];
}

/* Here I was completely burned out and decided to write down the usual styles. I hope everything is clear :D */

.online_amount {
  @apply absolute bottom-[60px] left-calc-620 rounded-[8px] bg-online-amount-rgba px-[35px] py-[20px] backdrop-blur-[80px]  laptop:bottom-[60px] laptop:left-[140px] laptop:top-[450px] laptop:bg-gray-800 laptop:px-[10px] laptop:py-[12px] laptop:pb-10 lg:bottom-[60px] lg:left-[120px] lg:top-[380px] lg:bg-gray-800 lg:px-[10px] lg:py-[12px] lg:pb-10 sm:bottom-[60px] sm:left-[120px] sm:top-[430px] sm:bg-gray-800 sm:px-[10px] sm:py-[12px] sm:pb-10 sl:left-[170px] sl:top-[450px] sl:bg-gray-800 sl:px-[12px] sl:py-[12px] sl:pb-10
}

.online_amount__amount {
  @apply flex items-center font-ProximRegular text-[20px] text-white before:mr-[10px] before:block before:h-[8px] before:w-[8px] before:rounded-[50px] before:bg-online-amount sm:text-[20px];
}
