.myBtn {
  @apply my-4 rounded-lg bg-gradient-to-r from-blue-500 to-purple-500 px-[15px] py-2 font-ProximSemiBold text-[18px] text-white;
}

.myBtn:hover {
  transition: 0.3s;
  border-color: #9008fe;
  box-shadow: 0 0 14px #0c83ff;
}

@media (max-width: 320px) {
  .myBtn {
    @apply mx-auto px-20 py-2;
  }
}

@media (max-width: 480px) {
  .myBtn {
    @apply mx-auto px-20 py-2;
  }
}
