

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  scrollbar-width: none; /* Для Firefox */
  box-sizing: border-box;
  flex-shrink: 0;
}

*::-webkit-scrollbar {
  display: none; /* Для WebKit (Chrome, Safari, Opera) */
}

* {
  @apply m-0 p-0;
}

a {
  @apply text-white no-underline
}

a:hover {
  @apply text-gray-500 no-underline
}




body {
  background: linear-gradient(124.23deg, #3E4151 -21.92%, #1D1E24 9.03%, #04080F 74.99%), #FFFFFF no-repeat;
  background-size: cover;
  min-height: 110vh;
}